<nav class='mb-3'>
  <div class='pt-3'>
    <img src="https://www.dialog.ci/wp-content/uploads/2022/03/logo-dialog-cor.png" width="175" height="30">
    <%= link_to 'Home', users_path, class: 'ms-5' %>
  </div>
</nav>
