<div class="jumbotron p-3 m-3 shadow-sm">
  <h1 class="display-4">dialog-rails-test</h1>
  <p class="lead">api for bookstore-react-redux front-end app. this REST api alows to manage database resources. a signed user can: add, remove, list and update books as well as select a favourite book.</p>
</div>
